<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <title>Neuroh</title>
</head>

<body class="w-screen h-screen">
    <div class="h-full">
        <div class="flex items-center justify-center h-full flex-col">
            <p class=" flex items-center justify-center text-black text-6xl font-bold ">Neuroh</p>
            <a href="/authorize">
                <button class=" w-96 h-20 bg-stone-300 rounded-3xl my-10">
                    <p class=" text-black text-3xl font-bold">Login with Google
                </button>
            </a>
            <p class="text-black text-2xl font-bold m-10">© 2024 Neuroh
            </p>
        </div>

    </div>

</body>

</html>